#portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.projectImage {
    width: 90%;
    margin: 10px;
}

.card {
    background-color: gainsboro;
    margin: 10px;
    margin-inline-start: 0;
    width: 30%;
    height: 45vh;
    position: relative;
}

.card h2 {
    margin: 10px;
}

.card .projectLinks {
    margin: 10px;
    position: absolute;
    bottom: 0;
}

.projectLinks a {
    display: block;
}